<!--header partial-->
<header class="text-center">
    <h1>Personal Book Library</h1>
    <!--navigation links-->
    <nav>
        <a href="/">Home</a> |
        <a href="/books/add">Add Book</a> |
    </nav>
</header>