<!--header partial-->
<%- include('partials/header.ejs') %>

<!--add book form-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <!--form heading-->
            <h1 class="text-center mt-2">Add a Book</h1>
            <!--form to add a new book-->
            <form class="form" method="POST">
                <!--book title input-->
                <div class="form-group mb-3">
                    <label for="titleTextField">Title:</label>
                    <input type="text" class="form-control" id="titleTextField"
                           name="title" placeholder="Enter book title" required>
                </div>
                <!--book notes input-->
                <div class="form-group mb-3">
                    <label for="descriptionTextArea">Notes:</label>
                    <textarea class="form-control" id="descriptionTextArea"
                              name="description" placeholder="Brief description" required></textarea>
                </div>
                <!--book author input-->
                <div class="form-group mb-3">
                    <label for="authorTextField">Author:</label>
                    <input type="text" class="form-control" id="authorTextField"
                           name="author" placeholder="Author name" required>
                </div>
                <!--form submit and cancel buttons-->
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/books" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

<!--footer partial-->
<%- include('partials/footer.ejs') %>

