<!--home page-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <!--include header partial-->
    <%- include('partials/header') %>

    <!--home page content-->
    <main>
        <h4>Home Page</h4>
    </main>
    
    <!--include footer partial-->
    <%- include('partials/footer') %>
</body>
</html>