<!--header partial-->
<%- include('partials/header') %>
<!--home view-->
<main>
    <br>
    <h2>Welcome to Personal Book Library</h2>
    <p>Personal Book Library is a simple web application that allows you to organize and manage the books you own or plan to read. 
    Instead of relying on memory, notebooks, or scattered notes, you can add new books, update book details, view their entire collection, 
    and delete books you no longer want. This ensures that all book-related information is organized and easily accessible in one place.</p>
</main>
<!--footer partial-->
<%- include('partials/footer') %>
