/*website styles*/
body {
    padding-bottom: 60px;
}
/*header styles*/
header {
    text-align: center;
}
/*navigation styles*/
nav {
    text-align: center;
}
/*footer styles*/
footer {
    text-align: center;   
    position: fixed;     
    bottom: 0;        
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #000000;      
    padding: 10px 0;
}
/*center text*/
h1, h2, h3, h4, h5, p {
    text-align: center;
}