/* footer styles */
footer {
    text-align: center;   
    position: fixed;     
    bottom: 0;          
    width: 100%;          
    padding: 10px 0;
}

/* center h1 text */
h1 {
    text-align: center;
}