/* footer styles */
footer {
    text-align: center;   
    position: fixed;     
    bottom: 0;          
    width: 100%;          
    padding: 10px 0;
}

/* center text */
h1, h4 {text-align: center;}